<%= link_to '←', :back, class:"font-bold text-2xl" %>
<!--<%= link_to '下書き保存', draft_path(@user), class:"font-bold text-2xl" %>-->



  <!--<%= form_with(model: @micropost, url: zen_create_path(slug: @user.slug), method: :post, local: true, data: { turbo: false } ) do |f| %>-->



    <!---投稿フォーム--->
    <% if current_user.present? && @user.present? && current_user == @user %>
    
    <div id="post-modal" class="flex items-center justify-center">

    <!--div2つ、外枠のサイズ管理 -->
      <div class="rounded-lg w-full sm:w-11/12 max-w-full sm:max-w-6xl p-2 sm:p-6">
      <div class="m-4 p-3 border-gray-200 rounded-2xl">

      <%= form_with(model: @microposts, url: zen_create_path(slug: @user.slug), method: :post, local: true, data: { turbo: false }) do |f| %>
        
         <div id="inputWrapper" class="">
          <!--<label for="content">覚えたい単語、フレーズ</label>-->
          <%= f.text_area :content, 
              placeholder: "i dont think anything is hard. it just takes time.",
              class: "h-96 text-xl text-gray-700 font-medium no-blink-caret m-2 p-3 duration-200 rounded-2xl w-full focus:outline-none focus:ring-0" %>
         </div>



    </div>
    
          <!-- 登録ボタン これは、fixedで上の方に固定しておく。form内である必要があるから。-->
         <div class="flex fixed top-1 right-1 z-50 justify-end items-center">
            <%= f.submit "公開に進む", 
            class: "bg-gray-100 text-gray-800 rounded hover:bg-gray-200 transition duration-300 px-4 py-2" %>
         </div>
       
      <% end %>

      </div>
      </div>

    </div>
    <% end %>
    <!---投稿フォーム--->
  
<% end %>



